$font-size: 1rem;
$font-family: 'Inter', sans-serif;
$background-color: #121212;
$font-color: #dae0e0;
$page-width: 650px;

$white: #FFFFFF;
$color-primary: #F1CDB3;
$dark-s: #CDCDCD;
$color-light-s: #FAFAFA;
$dark-1: #545454;
$dark-m: #B2B2B2;
$dark-xl: #4C4C4C;
$black: #292929;
$color-primary-light: #FDDCC4;
$color-overflow: rgba(41, 41, 41, 0.6);
$color-dark-3xl: #000000;
